.container {
    width: 700px;
    /* text-align: center; */
    margin: 50px auto;
}

@media (max-width: 960px) {
    /* Para una pantalla < 960px, se leerá este CSS */
    .container {
        width: 700px;
    }
}

@media (max-width: 750px) {
    /* Para una pantalla < 720px, se leerá este CSS */
    .container {
      width: 450px;
    }
}

@media (max-width: 540px) {
    /* Para una pantalla < 540px, se leerá este CSS */
    .container {
      width: 300px;
    }
}
